* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 40px;
  overflow: hidden;
}
#hangman {
  height: 38vh;
  position: relative;
  canvas {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #over {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%, -20%);
    margin-left: 250px;
    p {
      color: rgb(173, 0, 0);
      font-weight: bold;
    }
    button {
      all: unset;
      display: block;
      margin: 20px auto 0;
      font-size: 30px;
      border: 1px solid black;
      border-radius: 50px;
      transition: 0.3s;
      cursor: pointer;
      padding: 10px 20px;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
#blankContainer {
  padding-top: 100px;
  .blank {
    width: 65px;
    border-bottom: 4px solid black;
    margin: 0 40px 70px 0;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
}
#alphabets {
  padding: 50px;
  .alphabet {
    padding: 40px;
    cursor: pointer;
  }
}
.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1050px;
  margin: 0 auto;
}
