* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-size: 40px;
  overflow: hidden;
}
#hangman {
  width: 100%;
  height: 38vh;
  position: relative;
  canvas {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
  }
}
#blankContainer {
  padding-top: 100px;
  .blank {
    width: 65px;
    border-bottom: 4px solid black;
    margin: 0 40px 70px 0;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
}
#alphabets {
  padding: 50px;
  .alphabet {
    padding: 40px;
    cursor: pointer;
  }
}
.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1050px;
  margin: 0 auto;
}
